body {
  --color-bg: #c7c2b8;
  --color-text: #1b1b19;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 5rem;
}
/*Header*/
header {
  margin-bottom: 3rem;
}
header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

/*Main*/
.bgimg {
  position: absolute;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
}
.fullstop {
  position: absolute;
  bottom: 0.5rem;
  width: 0.7rem;
  height: 0.7rem;
}

.profile {
  display: flex;
  margin-bottom: 1.5rem;
}
.profile .photo {
  position: relative;
  flex: 1;
  margin-right: 2rem;
}

.profile .photo .bgimg {
  top: -1rem;
  left: 4rem;
  background-image: url("../images/photo_guide.png");
  background-size: 20rem;
  width: 20rem;
  height: 10rem;
  background-position: center;
}
.profile .photo .nudake {
  width: 25rem;
  height: 25rem;
  margin: 7rem 1.5rem 0;
  transform: rotate(-10deg);

  background-image: url("../images/my2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.profile .myinfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin: 2rem;
  padding: 2rem 2rem 1rem;
  border: 0.3rem dotted var(--color-text);
  border-radius: 2rem;
}
.profile .introduce {
  flex: 1;
  line-height: 1.2rem;
}

.profile .contact li {
  display: flex;
  font-weight: 700;
  font-size: 1.2rem;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.profile .contact img {
  width: 1.3rem;
  height: 1.3rem;
}

.profile .links {
  padding: 5rem;
  flex: 1;
  position: relative;
}

.profile .links img {
  width: 3rem;
  height: 3rem;
}
.profile .links a {
  position: absolute;
  bottom: 0rem;
}
.profile .links .notion a {
  position: absolute;
  left: 5.5rem;
}
.profile .links .notion .bgimg {
  top: 1.5rem;
  left: 0;
  background-image: url("../images/notion_guide.png");
  background-size: 20rem;
  width: 20rem;
  height: 7rem;
}
.profile .links .github a {
  position: absolute;
  right: 8.3rem;
}
.profile .links .github .bgimg {
  top: 2.5rem;
  right: 0.1rem;
  background-image: url("../images/github_guide.png");
  background-position: right;
  background-size: 12rem;
  width: 12rem;
  height: 10rem;
}

/*Experience*/
.experience {
  margin-bottom: 3rem;
}

.experience h1 {
  font-size: 3rem;
  font-weight: 700;
}
.project {
  margin-bottom: 3rem;
}
.project .description ul > li {
  margin-bottom: 1rem;
}
