body {
  overflow-x: hidden;
}
header {
  width: 100%;
}
main {
  padding: 0.5rem;
}
/*Main/Profile*/
.profile {
  flex-direction: column;
  align-items: center;
}
.profile .myinfo {
  margin-right: 0;
}
.profile .myinfo .photo .nudake {
  width: 25rem;
  height: 25rem;
  transform: rotate(0deg);
}

.profile .introduce {
  margin-top: 2rem;
}
.profile .links {
  height: 20rem;
  width: auto;
}
