/* Header */
header {
  text-align: center;
}

/* Main */

main {
  padding: 0 1rem;
}
/*Main/Profile*/
.profile {
  flex-direction: column;
  align-items: center;
  gap: none;
}
.profile .myinfo {
  flex-direction: column;
  margin-right: 0;
}
.profile .introduce {
  margin-top: 3rem;
}
