body {
  --color-bg: #fff;
  --color-sub-bg: #f0f0f0;
  --color-text: #1e1e21;
  --border: solid #63635d;
  --skill-color: #49b383;
  --skill-etc-color: #949385;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}

/*Header*/
header {
  padding: 0 1rem;
}
header div {
  padding: 2rem;
  margin-bottom: 1rem;
}
header h1 {
  font-size: 5rem;
}

/*Main*/
main {
  padding: 0 5rem;
}
.bgimg {
  position: absolute;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
}

/*Main/Profile*/
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  gap: 7rem;
}

/* Main/Profile/myinfo */
.profile .myinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .myinfo .photo {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.profile .myinfo .photo .bgimg {
  position: relative;
  background-image: url("../images/photo_guide.png");
  background-size: 20rem;
  width: 20rem;
  height: 8.5rem;
}
.profile .myinfo .photo .nudake {
  position: relative;
  transform: rotate(-10deg);
}
.profile .myinfo .photo .nudake .canvas_bg {
  --image-size: 400px;
  background-repeat: no-repeat;
  background-size: var(--image-size);
  width: var(--image-size);
  height: var(--image-size);
}
.profile .myinfo .photo .reset {
  position: absolute;
  right: -1rem;
  bottom: -1.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 0.9rem;
  background-color: var(--color-text);
  color: var(--color-bg);
  cursor: pointer;
}
.profile .myinfo .photo .reset::after {
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  border: 1rem solid var(--color-bg);
  border-top-color: var(--color-text);
  border-bottom-color: var(--color-text);
  border-left-color: var(--color-text);
}
.profile .myinfo .contact ul {
  box-sizing: border-box;
}
.profile .myinfo .contact li {
  display: flex;
  font-weight: 700;
  font-size: 1.2rem;
  align-items: center;
  gap: 1rem;
  margin: 0.7rem 0;
}
.profile .myinfo .contact img {
  width: 1.3rem;
}
.profile .myinfo .contact a {
  text-decoration: none;
  color: var(--color-text);
}

/* Main/Profile/introduce */
.profile .introduce {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 2rem;
  position: relative;
  line-height: 1.2rem;
  border: var(--border);
}
.profile .introduce h2 {
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: -1.3rem;
}
.profile .introduce strong {
  font-weight: 600;
}
.profile .introduce ul {
  list-style-type: square;
  padding: 2rem;
  background-color: var(--color-sub-bg);
  border-top: var(--border);
  border-top-width: 0.3rem;
}
.profile .introduce ul > li {
  margin-bottom: 1rem;
}

/*Main/Experience*/
.experience {
  margin-bottom: 3rem;
}
.experience h1 {
  margin: 2rem 0 1rem 0;
}
.experience .title {
  padding: 1rem;

  background-color: var(--color-text);
  color: var(--color-bg);
}
.experience .title h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.experience .title span {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.experience .skill_guide ul {
  margin: 0.5rem 0 3rem 0;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  color: #fff;
}
.experience .skill_guide ul > li {
  margin-right: 0.3rem;
  padding: 0.5rem 1rem;
  border: var(--border);
  border-radius: 0.3rem;
  text-align: center;
}
.experience .skill_guide ul > li:first-child {
  background-color: var(--skill-color);
  border-color: var(--skill-color);
}
.experience .skill_guide ul > li:last-child {
  background-color: var(--skill-etc-color);
  border-color: var(--skill-etc-color);
}

/* Main/project */
.experience .project {
  margin-bottom: 3rem;
  position: relative;
  background-color: var(--color-sub-bg);
}
.experience .project .title {
  padding: 0;
  margin-bottom: 0rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 700;
}
.experience .project .title::after {
  display: block;
  content: " ";
  margin-top: -0.25rem;
  width: auto;
  height: 0.6rem;
  background-color: var(--color-text);
}
.experience .project .description {
  margin: 1rem;
  line-height: 1.5rem;
}
.experience .project .description div {
  margin-bottom: 3rem;
  padding-left: 0.7rem;
  border: var(--border);
  border-width: 0 0 0 0.2rem;
}
.experience .project .description h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.experience .project .description ul {
  border-width: 0.15rem;
  padding-left: 0.9rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
.experience .project .description ul > li {
  margin-bottom: 1.2rem;
  list-style-type: square;
}
.experience .project .skill ul {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  align-items: center;
  font-size: 0.9rem;
}
.experience .project .skill li {
  padding: 0.2rem 0.5rem;
  border: var(--border);
  border-radius: 0.3rem;
  border-color: var(--skill-color);
  color: #fff;
  background-color: var(--skill-color);
}
.experience .project .skill li.etc {
  border-color: var(--skill-etc-color);
  background-color: var(--skill-etc-color);
}

/* Main/Education */
.education {
  margin-bottom: 2rem;
}
.education h1 {
  margin-bottom: 1.5rem;
}
.education div {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.education div.description {
  margin-top: 1.5rem;
}

/* Main/Certificate */
.certificate h1 {
  margin-bottom: 0.5rem;
}
.certificate ul {
  padding: 0 2rem;
  margin-bottom: 3rem;
  font-weight: 700;
  list-style-type: square;
  font-size: 1.2rem;
}
.certificate ul > li {
  padding: 0.5rem;
}
.certificate ul > li span {
  font-size: 1rem;
  font-weight: 400;
}
