body {
  --color-bg: #f9e3ca;
  --color-text: #483628;
  --border: solid #483628;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
/*Header*/
header {
  padding: 0 1rem;
}
header div {
  padding: 2rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  border: var(--border);
  border-width: 0.2rem 0;
}
header h1 {
  font-size: 2.5rem;
}
main {
  padding: 0 5rem;
}

/*Main*/
.bgimg {
  position: absolute;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
}
.fullstop {
  position: absolute;
  bottom: 0.5rem;
  width: 0.7rem;
  height: 0.7rem;
}

.profile {
  display: flex;
  margin-bottom: 1.5rem;
}
.profile .photo {
  position: relative;
  flex: 1;
  margin-right: 2rem;
}

.profile .photo .bgimg {
  top: -1rem;
  left: 4rem;
  background-image: url("../images/photo_guide.png");
  background-size: 20rem;
  width: 20rem;
  height: 10rem;
  background-position: center;
}
.profile .photo .nudake {
  width: 25rem;
  height: 25rem;
  margin: 7rem 1.5rem 0;
  transform: rotate(-10deg);

  background-image: url("../images/my2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.profile .myinfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin: 2rem;
  padding: 2rem 2rem 1rem;
  border: var(--border);
}
.profile .introduce {
  flex: 1;
  line-height: 1.2rem;
}

.profile .contact li {
  display: flex;
  font-weight: 700;
  font-size: 1.2rem;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.profile .contact img {
  width: 1.3rem;
  height: 1.3rem;
}

.profile .links {
  padding: 5rem;
  flex: 1;
  position: relative;
}

.profile .links img {
  width: 3rem;
  height: 3rem;
}
.profile .links a {
  position: absolute;
  bottom: 0rem;
}
.profile .links .notion a {
  position: absolute;
  left: 5.5rem;
}
.profile .links .notion .bgimg {
  top: 1.5rem;
  left: 0;
  background-image: url("../images/notion_guide.png");
  background-size: 20rem;
  width: 20rem;
  height: 7rem;
}
.profile .links .github a {
  position: absolute;
  right: 8.3rem;
}
.profile .links .github .bgimg {
  top: 2.5rem;
  right: 0.1rem;
  background-image: url("../images/github_guide.png");
  background-position: right;
  background-size: 12rem;
  width: 12rem;
  height: 10rem;
}

/*Experience*/
.experience {
  margin-bottom: 3rem;
}
.experience h1 {
  margin: 2rem 0 1rem 0;
}
.experience .title {
  padding: 1rem;
  margin-bottom: 3rem;

  background-color: var(--color-text);
  color: var(--color-bg);
}
.experience .title h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.experience .title span {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.experience .project {
  margin-bottom: 3rem;
  position: relative;
  background-color: #fff;
}

.experience .project .title {
  padding: 0;
  margin-bottom: 0rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 700;
}
.experience .project .title::after {
  display: block;
  content: " ";
  margin-top: -0.25rem;
  width: auto;
  height: 0.6rem;
  background-color: var(--color-text);
}
.experience .project .description {
  margin: 1rem;
  line-height: 1.1rem;
}
.experience .project .description div {
  margin-bottom: 1rem;
  padding-left: 0.7rem;
  border: var(--border);
  border-width: 0 0 0 0.2rem;
}

.experience .project .description ul {
  border-width: 0.15rem;
  padding-left: 0.9rem;
  font-weight: 500;
}
.experience .project .description ul > li {
  margin-bottom: 1rem;
  list-style-type: square;
}
.experience .project .skill ul {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  align-items: center;
  font-size: 0.7rem;
}
.experience .project .skill li {
  padding: 0.2rem 0.5rem;
  border: var(--border);
  border-radius: 0.3rem;
  color: var(--color-bg);
  background-color: var(--color-text);
}

/* Education */
.education {
  margin-bottom: 2rem;
}
.education h1 {
  margin-bottom: 0.5rem;
}
.education div {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.education div.description {
  font-weight: 600;
}

/* Certificate */
.certificate h1 {
  margin-bottom: 0.5rem;
}

.certificate ul {
  padding: 0 2rem;
  margin-bottom: 3rem;
  font-weight: 700;
  list-style-type: square;
  font-size: 1.2rem;
}

.certificate ul > li {
  padding: 0.5rem;
}
